<section class="mb-4">
  <% user = User.find(book.user_id) %>
  <h2>Book detail</h2>

  <div class="my-4">
    <div class="d-flex">
      <div class="mr-3">
        <%= link_to user_path(book.user) do %>
          <%= image_tag book.user.get_profile_image, size:"100x100" %>
        <% end %>
      </div>
      <div class="w-100">
        <div class="d-flex mb-1">
          <div class="font-weight-bold mr-2"><%= link_to book.user.name, user_path(book.user) %></div>
          <small>
            <time class="text-black-50" datetime="<%= @book.created_at %>">
              <%= @book.created_at.strftime("%Y/%m/%d") %>
            </time>
          </small>
        </div>
        <div class="">
          <div class="h3"><%= book.title %></div>
          <p><%= book.body %></p>
        </div>
      </div>
      <div class="w-25">
        <% if book.user == current_user %>
          <%= link_to edit_book_path(book), class: "btn btn-outline-primary btn-sm btn-block" do %>
            <i class="fa-solid fa-pencil"></i> Edit
          <% end %>

          <%= link_to book_path(book), method: :delete, "data-confirm" => "Are you sure?", class: "btn btn-outline-danger btn-sm btn-block" do %>
            <i class="fa-solid fa-trash-can"></i> Destroy
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <hr>

  <div class="d-flex">
    <div class="d-flex justify-content-around mx-auto w-50">
      <div><%= render "book_comments/count", book: book %></div>
      <div><%= render "favorites/btn", book: book %></div>
    </div>
  </div>

  <hr>

  <div>
    <%= render "book_comments/list", book: book %>
    <%= render "book_comments/form", book: book, book_comment: book_comment %>
  </div>
</section>